extends container

block content
    div
        h1
            | Change password
        p
            | Hello dear #{userName} for change your password please click on link below.
        a(href=frontendUrl) Update Password
